<div *ngIf="resources !== undefined && resources.length > 0; else noResources">
  <p class="popover-link"
     *ngFor="let instructionalResource of resources">
    <a *ngIf="instructionalResource.organizationLevel === 'System'" [attr.href]="instructionalResource.url" target="_blank">{{ 'labels.instructional-resources.link.System' | translate }}</a>
    <a *ngIf="instructionalResource.organizationLevel === 'State'" [attr.href]="instructionalResource.url" target="_blank">{{ ('labels.states.' + instructionalResource.stateCode) | translate }}{{ 'labels.instructional-resources.link.State' | translate }}</a>
    <a *ngIf="instructionalResource.organizationLevel !== 'System' && instructionalResource.organizationLevel !== 'State'" [attr.href]="instructionalResource.url" target="_blank">{{ ('labels.instructional-resources.link.' + instructionalResource.organizationName) | translate:instructionalResource }}</a>
  </p>
</div>

<ng-template #noResources>
  <div>
    <p>{{ 'labels.groups.results.assessment.no-instruct-found' | translate }}</p>
  </div>
</ng-template>
