<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="body">
    <div class="header container">
        <div class="block-group blue right">
            <span th:text="#{'report.subject.' + ${report.assessment.subject} + '.name'}"></span>
            <span>
                <span th:text="${#strings.toString(report.exam.schoolYear - 1)}" th:remove="tag"></span>
                <span th:text="${support.getLastTwoDigits(report.exam.schoolYear)}" th:remove="tag"></span>
            </span>

        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1501143/sbac%20logo%20color.svg" alt="Smarter Balanced Assessment Consortium" class="logo">
        <div class="block-group blue">
            <span th:text="#{report.ica.short-name}"></span>
            <span th:text="#{report.ica.title}"></span>
        </div>
    </div>

    <section class="mt-md mb-md" th:with="scored=${report.exam.scaleScore != null}">
        <div class="container">
            <div class="overview row">
                <div class="info col-xs-2">
                    <div class="name" th:text="#{report.student.name(${report.student.firstName}, ${report.student.lastName})}"></div>
                    <div class="grade">
                        <span th:text="#{report.student.grade.label}" th:remove="tag"></span>
                        <span th:text="#{'report.enrollment-grade.' + ${report.studentEnrollment.gradeCode}}" th:remove="tag"></span>
                    </div>
                    <div class="school" th:text="${report.studentEnrollment.schoolName}"></div>
                    <div class="district">
                        <span th:text="${report.studentEnrollment.districtName}" th:remove="tag"></span>,
                        <span th:text="${report.studentEnrollment.stateCode}" th:remove="tag"></span>
                    </div>
                </div>
                <div th:if="${!scored}"
                     class="standard col-xs-10">
                    <h2 th:text="#{report.not-scored}"></h2>
                </div>
                <div th:if="${scored}" class="standard col-xs-4">
                    <span class="score"
                          th:classappend="#{'report.ica.level.' + ${report.exam.scaleScore.level} + '.color'}"
                          th:text="${report.exam.scaleScore.value}"></span>
                    <span class="level">
                        <strong th:text="#{'report.ica.level.' + ${report.exam.scaleScore.level} + '.name'}"></strong>
                        <br><span th:text="#{('report.ica.level.' + ${report.exam.scaleScore.level} + '.name')(${support.round(report.exam.scaleScore.value - report.exam.scaleScore.standardError)}, ${support.round(report.exam.scaleScore.value + report.exam.scaleScore.standardError)})}"
                                  th:remove="tag"></span>
                    </span>
                    <p class="description mt-sm"
                       th:text="#{('report.overall-achievement.grade.' + ${report.assessment.gradeCode} + '.subject.' + ${report.assessment.subject} + '.level.' + ${report.exam.scaleScore.level})(${report.student.firstName})}"></p>
                </div>
                <div th:if="${scored}" class="performance col-xs-6"
                        th:with="scaleScoreView=${support.getScaleScoreView(report.exam, report.assessment)}">
                    <div class="graph clearfix">
                        <span class="score" data-left="75">
                            <span class="num"
                                  th:classappend="#{'report.ica.level.' + ${report.exam.scaleScore.level} + '.color'}"
                                  th:text="${report.exam.scaleScore.value}">
                                <span class="error">±
                                    <span th:text="${support.round(report.exam.scaleScore.standardError) + '*'}"
                                          th:remove="tag"></span>
                                </span>
                            </span>
                        </span>
                        <span class="bound">{{bound}}</span>
                        <div class="bar maroon"
                             th:attr="data-width=${scaleScoreView.levels[0].width}"><span class="bound">{{bound}}</span></div>
                        <div class="bar gray-darkest"
                             th:attr="data-width=${scaleScoreView.levels[1].width}"><span class="bound">{{bound}}</span></div>
                        <div class="bar green-dark"
                             th:attr="data-width=${scaleScoreView.levels[2].width}"><span class="bound">{{bound}}</span></div>
                        <div class="bar blue-dark"
                             th:attr="data-width=${scaleScoreView.levels[3].width}"><span class="bound">{{bound}}</span></div>
                    </div>
                    <div class="legend">
                        <span><i class="fa fa-square" style="color: #8D1135;"></i> <span th:text="#{'report.ica.level.1.description'}" th:remove="tag"></span></span>
                        <span><i class="fa fa-square" style="color: #353538;"></i> <span th:text="#{'report.ica.level.2.description'}" th:remove="tag"></span></span>
                        <span><i class="fa fa-square" style="color: #406934;"></i> <span th:text="#{'report.ica.level.3.description'}" th:remove="tag"></span></span>
                        <span><i class="fa fa-square" style="color: #104564;"></i> <span th:text="#{'report.ica.level.4.description'}" th:remove="tag"></span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" th:if="${scored}">
            <div class="achievement-descriptions">
                <div class="overall">
                    <span class="title" th:text="#{report.ica.section.claim.header}"></span>
                    <p th:text="#{('report.student-achievement-by-claim.grade.' + ${report.assessment.gradeCode} + '.subject.' + ${report.assessment.subject})(${report.student.firstName})}"></p>
                </div>
                <div class="level-description">
                    <span class="title"><i class="fa fa-book"></i> Reading</span>
                    <span class="level-label" style="background-color: #104564">{{Level Label}}</span>
                    <div class="description">
                        <p>{{FirstName}} {{Category Specific Achievement Level Description}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt rem, ipsum, distinctio cupiditate laudantium alias culpa ratione, quis quas quae quod nam. Temporibus delectus et doloremque sunt, totam pariatur nihil.</p>
                    </div>
                </div>
                <div class="level-description">
                    <span class="title"><i class="fa fa-lightbulb-o"></i> Listening</span>
                    <span class="level-label" style="background-color: #104564">{{Level Label}}</span>
                    <div class="description">
                        <p>{{FirstName}} {{Category Specific Achievement Level Description}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt rem, ipsum, distinctio cupiditate laudantium alias culpa ratione, quis quas quae quod nam. Temporibus delectus et doloremque sunt, totam pariatur nihil.</p>
                    </div>
                </div>
                <div class="level-description">
                    <span class="title"><i class="fa fa-question"></i> Research &amp; Inquiry</span>
                    <span class="level-label" style="background-color: #104564">{{Level Label}}</span>
                    <div class="description">
                        <p>{{FirstName}} {{Category Specific Achievement Level Description}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt rem, ipsum, distinctio cupiditate laudantium alias culpa ratione, quis quas quae quod nam. Temporibus delectus et doloremque sunt, totam pariatur nihil.</p>
                    </div>
                </div>
                <div class="level-description">
                    <span class="title"><i class="fa fa-edit"></i> Writing</span>
                    <span class="level-label" style="background-color: #104564">{{Level Label}}</span>
                    <div class="description">
                        <p>{{FirstName}} {{Category Specific Achievement Level Description}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt rem, ipsum, distinctio cupiditate laudantium alias culpa ratione, quis quas quae quod nam. Temporibus delectus et doloremque sunt, totam pariatur nihil.</p>
                    </div>
                </div>
                <div class="writing-traits">
                    <span class="title">{{Writing Type}} Writing</span>
                    <div class="trait">
                        <span class="title">Evidence / Elaboration</span>
                        <span class="score"><span style="background-color: #104564;">3</span> of 4</span>
                        <div class="description"><p>{{Trait Specific Achievement Level Description}} Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
                    </div>
                    <div class="trait">
                        <span class="title">Organization / Purpose</span>
                        <span class="score"><span style="background-color: #104564;">3</span> of 4</span>
                        <div class="description"><p>{{Trait Specific Achievement Level Description}} Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
                    </div>
                    <div class="trait">
                        <span class="title">Conventions</span>
                        <span class="score"><span style="background-color: #104564;">3</span> of 4</span>
                        <div class="description"><p>{{Trait Specific Achievement Level Description}} Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
        <div class="footer row">
            <div class="col-xs-4">
                <p><strong th:text="#{report.faq.p2.header}"></strong><br>
                    <span th:utext="#{report.faq.p2.html}" th:remove="tag"></span>
                </p>
                <p th:utext="#{report.faq.p3.html}"></p>
            </div>
            <div class="col-xs-4">
                <p><strong th:text="#{report.important-information.header}"></strong><br>
                    <span th:text="#{report.important-information.item1}" th:remove="tag"></span>
                    <span th:text="#{report.important-information.item2}" th:remove="tag"></span>
                </p>
            </div>
            <div class="col-xs-4">
                <p>
                    <strong>*</strong>
                    <strong th:text="#{report.scale-score.error-band}"></strong>
                    <br>
                    <span th:text="#{report.scale-score.description}" th:remove="tag"></span>
                </p>
                <p><strong th:text="#{report.faq.header}"></strong><br>
                    <span th:utext="#{report.faq.p1.html}" th:remove="tag"></span>
                </p>
            </div>
        </div>
    </div>
    </section>
    <footer>
        <div class="container">
            <div class="sub-footer">
                <p>&copy; The Regents of the University of California &ndash; Smarter Balanced Assessment Consortium</p>
            </div>
        </div>
    </footer>
</div>
</body>