<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="body">
    <div class="header container">
        <div class="block-group blue right">
            <span th:text="#{'report.subject.' + ${report.assessment.subject} + '.name'}"></span>
            <span>
                <span th:text="${#strings.toString(report.exam.schoolYear - 1)}" th:remove="tag"></span> -
                <span th:text="${support.getLastTwoDigits(report.exam.schoolYear)}" th:remove="tag"></span>
            </span>

        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1501143/sbac%20logo%20color.svg" alt="Smarter Balanced Assessment Consortium" class="logo">
        <div class="block-group blue">
            <span th:text="#{report.ica.short-name}"></span>
            <span th:text="#{report.ica.title}"></span>
        </div>
    </div>

    <section class="mt-md mb-md" th:with="scored=${report.exam.scaleScore != null}">
        <div class="container">
            <div class="overview row">
                <div class="info col-xs-2">
                    <div class="name" th:text="#{report.student.name(${report.student.firstName}, ${report.student.lastName})}"></div>
                    <div class="grade">
                        <span th:text="#{report.student.grade.label}" th:remove="tag"></span>
                        <span th:text="#{'report.enrollment-grade.' + ${report.studentEnrollment.gradeCode}}" th:remove="tag"></span>
                    </div>
                    <div class="school" th:text="${report.studentEnrollment.schoolName}"></div>
                    <div class="district">
                        <span th:text="${report.studentEnrollment.districtName}" th:remove="tag"></span>,
                        <span th:text="${report.studentEnrollment.stateCode}" th:remove="tag"></span>
                    </div>
                </div>
                <div th:if="${!scored}"
                     class="standard col-xs-10">
                    <h2 th:text="#{report.not-scored}"></h2>
                </div>
                <div th:if="${scored}" class="standard col-xs-4">
                    <span class="score"
                          th:classappend="#{'report.ica.level.' + ${report.exam.scaleScore.level} + '.color'}"
                          th:text="${report.exam.scaleScore.value}"></span>
                    <span class="level">
                        <strong th:text="#{'report.ica.level.' + ${report.exam.scaleScore.level} + '.description'}"></strong>
                        <br><span th:text="#{('report.ica.score-range')(${support.round(report.exam.scaleScore.value - report.exam.scaleScore.standardError)}, ${support.round(report.exam.scaleScore.value + report.exam.scaleScore.standardError)})}"
                                  th:remove="tag"></span>
                    </span>
                    <p class="description mt-sm"
                       th:text="#{('report.overall-achievement.grade.' + ${report.assessment.gradeCode} + '.subject.' + ${report.assessment.subject} + '.level.' + ${report.exam.scaleScore.level})(${report.student.firstName})}"></p>
                </div>
                <div th:if="${scored}" class="performance col-xs-6"
                        th:with="scaleScoreView=${support.getScaleScoreView(report.exam, report.assessment)}">
                    <div class="graph clearfix">
                        <span class="score" th:attr="data-left=${scaleScoreView.position}">
                            <span class="num"
                                  th:classappend="#{'report.ica.level.' + ${report.exam.scaleScore.level} + '.color'}">
                                <span th:text="${report.exam.scaleScore.value}" th:remove="tag"></span>
                                <span class="error">±
                                    <span th:text="${support.round(report.exam.scaleScore.standardError)}"
                                          th:remove="tag"></span>*
                                </span>
                            </span>
                        </span>
                        <span class="bound" th:text="${report.assessment.cutPoints[0]}"></span>
                        <div class="bar"
                             th:classappend="#{'report.ica.level.1.color'}"
                             th:attr="data-width=${scaleScoreView.levels[0].width}"><span class="bound" th:text="${report.assessment.cutPoints[1]}"></span></div>
                        <div class="bar"
                             th:classappend="#{'report.ica.level.2.color'}"
                             th:attr="data-width=${scaleScoreView.levels[1].width}"><span class="bound" th:text="${report.assessment.cutPoints[2]}"></span></div>
                        <div class="bar"
                             th:classappend="#{'report.ica.level.3.color'}"
                             th:attr="data-width=${scaleScoreView.levels[2].width}"><span class="bound" th:text="${report.assessment.cutPoints[3]}"></span></div>
                        <div class="bar"
                             th:classappend="#{'report.ica.level.4.color'}"
                             th:attr="data-width=${scaleScoreView.levels[3].width}"><span class="bound" th:text="${report.assessment.cutPoints[4]}"></span></div>
                    </div>
                    <div class="legend">
                        <span><i class="fa fa-square" style="color: #8D1135;"></i> <span th:text="#{'report.ica.level.1.description'}" th:remove="tag"></span></span>
                        <span><i class="fa fa-square" style="color: #353538;"></i> <span th:text="#{'report.ica.level.2.description'}" th:remove="tag"></span></span>
                        <span><i class="fa fa-square" style="color: #406934;"></i> <span th:text="#{'report.ica.level.3.description'}" th:remove="tag"></span></span>
                        <span><i class="fa fa-square" style="color: #104564;"></i> <span th:text="#{'report.ica.level.4.description'}" th:remove="tag"></span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" th:if="${scored}">
            <div class="achievement-descriptions">
                <div class="overall">
                    <span class="title" th:text="#{report.ica.section.claim.header}"></span>
                    <p th:text="#{('report.student-achievement-by-claim.grade.' + ${report.assessment.gradeCode} + '.subject.' + ${report.assessment.subject})(${report.student.firstName})}"></p>
                </div>
                <div class="level-description" th:each="claimCode : ${report.assessment.claimCodes}">
                    <span class="title">
                        <i class="fa" th:classappend="#{'report.claim.' + ${claimCode} + '.icon'}"></i>
                        <span th:text="#{'report.claim.' + ${claimCode} + '.name'}" th:remove="tag"></span>
                    </span>
                    <span class="level-label"
                          th:if="${report.exam.claimScaleScores[claimCodeStat.index] != null}"
                          th:classappend="#{'report.iab.level.' + ${report.exam.claimScaleScores[claimCodeStat.index].level} + '.color'}"
                          th:text="#{'report.claim.level.' + ${report.exam.claimScaleScores[claimCodeStat.index].level} + '.label'}"></span>
                    <span class="level-label"
                          th:if="${report.exam.claimScaleScores[claimCodeStat.index] == null}"
                          th:text="#{'report.not-scored'}"></span>
                    <div class="description">
                        <p th:text="#{('report.claim.' + ${claimCode} + '.grade.' + ${report.assessment.gradeCode} + '.level.' + ${report.exam.claimScaleScores[claimCodeStat.index].level})(${report.student.firstName})}"></p>
                    </div>
                </div>

                <div class="writing-traits" th:if="${report.exam.writingTraitScores}"
                     th:with="scored=true,assessment=${report.assessment},exam=${report.exam}">
                    <span class="title" th:text="#{('report.writing.trait.purpose')(${exam.performanceWritingType})}"></span>
                    <div class="trait">
                        <span class="title" th:text="#{'report.writing.trait.Evidence'}"></span>
                        <span class="score">
                            <span style="background-color: #104564;"
                                  th:text="${exam.writingTraitScores.evidence}"></span>
                            <span th:text="#{('report.writing.trait.outof')(4)}" th:remove="tag"></span>
                        </span>
                        <div class="description">
                            <p th:text="#{'report.writing.trait.' + (${exam.performanceWritingType != null} ? ${exam.performanceWritingType} : 'Unknown') + '.Evidence.' + ${exam.writingTraitScores.evidence}}"></p>
                        </div>
                    </div>
                    <div class="trait">
                        <span class="title" th:text="#{'report.writing.trait.Organization'}"></span>
                        <span class="score">
                            <span style="background-color: #104564;"
                                  th:text="${exam.writingTraitScores.organization}"></span>
                            <span th:text="#{('report.writing.trait.outof')(4)}" th:remove="tag"></span>
                        </span>
                        <div class="description">
                            <p th:text="#{'report.writing.trait.' + (${exam.performanceWritingType != null} ? ${exam.performanceWritingType} : 'Unknown') + '.Organization.' + ${exam.writingTraitScores.organization}}"></p>
                        </div>
                    </div>
                    <div class="trait">
                        <span class="title" th:text="#{'report.writing.trait.Conventions'}"></span>
                        <span class="score">
                            <span style="background-color: #104564;"
                                  th:text="${exam.writingTraitScores.conventions}"></span>
                            <span th:text="#{('report.writing.trait.outof')(2)}" th:remove="tag"></span>
                        </span>
                        <div class="description">
                            <p th:text="#{'report.writing.trait.' + (${exam.performanceWritingType != null} ? ${exam.performanceWritingType} : 'Unknown') + '.Conventions.' + ${exam.writingTraitScores.conventions}}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="footer row">
                <div class="col-xs-4">
                    <p><strong th:text="#{report.faq.p2.header}"></strong><br>
                        <span th:utext="#{report.faq.p2.html}" th:remove="tag"></span>
                    </p>
                    <p th:utext="#{report.faq.p3.html}"></p>
                </div>
                <div class="col-xs-4">
                    <p><strong th:text="#{report.important-information.header}"></strong><br>
                        <span th:text="#{report.important-information.item1}" th:remove="tag"></span>
                        <span th:text="#{report.important-information.item2}" th:remove="tag"></span>
                    </p>
                </div>
                <div class="col-xs-4">
                    <p>
                        <strong>*</strong>
                        <strong th:text="#{report.scale-score.error-band}"></strong>
                        <br>
                        <span th:text="#{report.scale-score.description}" th:remove="tag"></span>
                    </p>
                    <p><strong th:text="#{report.faq.header}"></strong><br>
                        <span th:utext="#{report.faq.p1.html}" th:remove="tag"></span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="sub-footer">
            <p>&copy; The Regents of the University of California &ndash; Smarter Balanced Assessment Consortium</p>
        </div>
    </div>
</div>
</body>