[project]
	description = RDW reporting tier (web app, backend services, etc.)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rob Cordeau (rcordeau)
[access "refs/for/refs/*"]
	read = group user/Rob Cordeau (rcordeau)
	push = group user/Rob Cordeau (rcordeau)
	label-Code-Review = -2..+2 group user/Rob Cordeau (rcordeau)
	label-Verified = -1..+1 group user/Rob Cordeau (rcordeau)
	rebase = group user/Rob Cordeau (rcordeau)
	removeReviewer = group user/Rob Cordeau (rcordeau)
	submit = group user/Rob Cordeau (rcordeau)
[access "refs/heads/*"]
	read = group user/Rob Cordeau (rcordeau)
	create = group user/Rob Cordeau (rcordeau)
	push = +force group user/Rob Cordeau (rcordeau)
	pushMerge = group user/Rob Cordeau (rcordeau)
[access "refs/tags/*"]
	push = group user/Rob Cordeau (rcordeau)
	push = +force group user/Rob Cordeau (rcordeau)
