<div class="card assessment-aggregate" [ngClass]="{'selected': selected}" (click)="selectCard()">

  <span *ngIf="!selected" class="check"><i class="fa fa-check"></i></span>
  <span
    class="label green">{{ 'common.assessment-grade-short-label.' + measuredAssessment.assessment.grade | translate}}</span>
  <span class="title">{{ measuredAssessment.assessment.label }}</span>
  <span class="date">{{ measuredAssessment.date | date }}</span>
  <div class="students">
    <span class="caption"
          [innerHTML]="'iab-card.student-count' | translate: {studentsTested: this.measuredAssessment.studentsTested, groupCount: group.totalStudentCount }"></span>
    <div class="scale-score-graph rounded small">
      <div class="bar-container">
        <div class="bar green" [attr.data-width]="studentCountFill"></div>
        <div class="bar green remainder" [attr.data-width]="100 - studentCountFill"></div>
      </div>
    </div>
  </div>

  <div class="aggregate-graph">
    <div class="scale-score-graph rounded blend-middle">
      <div class="bar-container">
        <div class="bar blue-dark" *ngIf="percentFill(0) > 0" [attr.data-width]="percentFill(0)">
          <span class="percentage">{{ 'common.value-display-type-format.Percent' | translate: { value: percentFill(0)} }}</span>
          <span class="bar-label sr-only">{{ 'common.assessment-type.iab.performance-level.1.name' }}</span>
        </div>
        <div class="bar blue-dark aqua" *ngIf="percentFill(1) > 0" [attr.data-width]="percentFill(1)">
          <span class="percentage">{{ 'common.value-display-type-format.Percent' | translate: { value: percentFill(1)} }}</span>
          <span class="bar-label sr-only">{{ 'common.assessment-type.iab.performance-level.2.name' }}</span>
        </div>
        <div class="bar aqua" *ngIf="percentFill(2) > 0" [attr.data-width]="percentFill(2)">
          <span class="percentage">{{ 'common.value-display-type-format.Percent' | translate: { value: percentFill(2)} }}</span>
          <span class="bar-label sr-only">{{ 'common.assessment-type.iab.performance-level.3.name' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
