<div class="card assessment-aggregate" [ngClass]="{'selected': latestExam.selected}" (click)="selectCard()">

  <span class="check"><i class="fa fa-check"></i></span>
  <span
    class="label" [ngClass]="getGradeColor()">{{ 'common.assessment-grade-short-label.' + latestExam.assessment.grade | translate}}</span>
  <span class="title">{{ latestExam.assessment.label }}</span>
  <span class="date">{{ date | date }}</span>
  <p></p>
  <span class="distribution" [ngClass]="colorService.getPerformanceLevelColorsByAssessmentTypeCode('iab', level)">{{ 'common.assessment-type.iab.performance-level.' + level + '.name' | translate }}</span>
  <span class="center-block mt-md" style="text-align: center; font-weight: 600">{{ resultCount }} results</span>
</div>
